.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #1A202C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
.App-header a:link, a:visited {
  color: #F6E05E;
  text-decoration: none;
}
.App-header h3 {
  font-weight: 400;
  letter-spacing: 0em;
  margin-bottom:0em;
  font-size: 1.8em;
}
.App-header h3::before {
  content: '@';
  font-size: 0.8em;
  color: #A0AEC0;
  margin-right:0.1em;
}
.App-header .url {
  font-weight: 600;
  /* display:inline; */
  display:inline;
  padding:4px 8px;
  background: #2D3748;
  letter-spacing: 0.2em;
  font-size: 0.4em;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
