@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700&display=block');
/* @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=block'); */
/* @import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=block'); */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800,900&display=block');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=block');
/* @import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=block');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  /* background-color: #191b24; */
  color: #191b24;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* attempt to disable ios scrolling */
  /* -webkit-overflow-scrolling: touch; */
}

a {
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
